html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
*{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{background:transparent;font-size:100%;margin:0;padding:0;text-decoration:none;vertical-align:baseline}
li{list-style-type:none}
ins{color:#fff;text-decoration:none}
mark{color:#fff;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body{background-color:#222;background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(.25,#262626),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,#262626),color-stop(.75,#262626),color-stop(.75,transparent),to(transparent));-webkit-background-size:17px 17px;font-family:Univers Verdana "Trebuchet MS" Arial Helvetica sans-serif;width:100%}
#menu{width:100%;height:150px;text-align:center;font-size:12px;border-bottom:solid 5px #444}
#menu li{width:33.33%;height:50px;float:left;line-height:50px;text-decoration:none}
#menu li:nth-child(1){background-color:#cc175b}
#menu li:nth-child(2){background-color:#fff}
#menu li:nth-child(2) a{color:#333}
#menu li:nth-child(3){background-color:#333}
#menu li:nth-child(4){background-color:#fff}
#menu li:nth-child(4) a{color:#333}
#menu li:nth-child(5){background-color:#333}
#menu li:nth-child(6){background-color:#fff}
#menu li:nth-child(6) a{color:#333}
#menu li:nth-child(7){background-color:#333}
#menu li:nth-child(8){background-color:#fff}
#menu li:nth-child(8) a{color:#333}
#menu li:nth-child(9){background-color:#cc175b}
#menu a{color:#fff;width:33.33%}
#menu .list{width:100%;height:50px;line-height:50px}
header{height:55px;width:100%;background-color:rgba(40,40,40,0.9);border-bottom:solid 5px #444}
header #logo{padding:5px 5px 5px 5px;float:left}
header #menu_button{float:right;height:55px;width:67px;line-height:55px;text-align:center;vertical-align:middle;background-color:#232323;color:#fff;font-size:13px}
header #menu_button img{margin-left:8px;height:12px;width:8px}
h2{color:#fff;line-height:30px;padding-left:10px;font-weight:bold;background-color:#cc175b}
#main{color:#fff;font-size:14px}
#main p{margin:10px 10px;line-height:18px}
.news li{width:100%;height:55px;display:table}
.newsrow{display:table-cell;vertical-align:middle;font-size:14px;position:relative}
.newsrow a{color:#fff;width:90%;float:left;margin-left:10px}
.newsrow span{width:10%;font-weight:bold;color:#444;float:right;text-align:center;margin-left:-10px;top:50%;position:absolute;margin-top:-.5em}
.viewAll{height:40px;width:100%;text-align:center;margin-bottom:5px}
.viewAll div{line-height:40px;color:#666;background-color:rgba(40,40,40,0.9)}
.mainMenu,.cover{width:100%;height:120px;overflow:hidden;display:block;position:relative;margin:5px 0}
.mainMenu img,.cover img{width:100%;margin-top:-20%;position:absolute}
.mainMenu h3{width:100%;height:120px;background-color:rgba(0,0,0,0.35);position:absolute;font-size:24px;color:#eee;text-align:center;line-height:120px}
.cover #filter{width:100%;height:120px;background-color:rgba(0,0,0,0.35);position:absolute;font-size:14px;color:#eee;text-align:center}
.cover h3{margin-top:45px;font-size:18px;font-weight:bold;color:#cc175b}
footer{margin-top:5px;width:100%;float:left}
footer h3{padding-left:10px;height:30px;line-height:30px;color:#fff;background-color:#272727}
.about{padding:5px 10px;font-size:14px;text-align:right}
.about p{color:#fff;line-height:18px;text-align:left;margin-bottom:5px}
.about a{width:90px;text-align:right;color:#666}
#entrybutton{width:90%;height:45px;margin:10px auto;background-color:#cc175b;text-align:center}
#entrybutton a{color:#fff;line-height:45px;font-weight:bold}
.footerbanner{text-align:center;width:100%;margin:10px 0}
#collaboEntry{width:90%;height:45px;margin:10px auto;background-color:#cc175b;text-align:center}
#collaboEntry a{color:#fff;line-height:45px;font-weight:bold}
.share{height:120px}
.share li{float:left;width:25%;text-align:center;margin:10px 0}
.footerMenu{width:100%;height:30px;margin-top:10px}
.footerMenu ul{margin:5px 10px}
.footerMenu li{height:30px;text-align:center;width:33%;float:left}
.footerMenu a{line-height:30px;font-size:12px;color:#eee}
#copyright{text-align:center;color:#666;font-size:12px;margin:10px 10px}
#photo-list{margin:5px 0}
#photo-list img{width:100%}
#photo-list .filter{width:100%;height:160px;margin-top:-160px;position:absolute;background:-moz-linear-gradient(top,rgba(1,1,1,0),#111);background:-webkit-gradient(linear,left top,left bottom,from(rgba(1,1,1,0)),to(#111))}
#photo-list .filter h3{color:#cc175b;font-weight:bold;font-size:19px;line-height:24px;bottom:39px;position:absolute;margin-left:10px}
#photo-list .filter p{bottom:10px;color:#fff;font-size:12px;position:absolute;margin-left:10px}
#Gallery{margin:5px 0;background-color:#444;width:100%}
#Gallery li{width:50%;float:left}
#Gallery img{width:100%}
.noImage{display:table-cell;vertical-align:middle}
#profile{color:#fff;margin:10px;font-size:14px;text-align:right}
#profile #wrapper{display:table;table-layout:fixed;width:100%}
#profile #thumb{display:table-cell;height:100px}
#profile img{width:100%;vertical-align:middle}
#profile #info{display:table-cell;vertical-align:middle;padding-left:10px;text-align:left}
#profile dt{color:#bbb;font-size:12px;line-height:16px}
#profile dd{font-size:13px;line-height:16px}
#profile p{margin-top:10px;margin-bottom:5px;width:100%;text-align:left}
#profile a{color:#666}
#modelinfo h3{padding-left:10px;height:30px;line-height:30px;color:#fff;background-color:#444}
#modelinfo dl{margin:15px 10px}
#modelinfo dt{color:#bbb;font-size:12px;line-height:16px}
#modelinfo dd{color:#fff;font-size:14px;line-height:16px;margin-bottom:10px}
#modelinfo a{color:#7c7c7c}
.aboutus{color:#fff;text-align:center}
.aboutus p{font-size:14px;line-height:24px;margin:30px 10px 20px}
.aboutus img{width:134px;display:block;margin:10px auto}
.aboutus h3{font-size:20px;line-height:32px;margin-bottom:60px}
.aboutus h4{font-size:14px;color:#ddd;margin-top:20px}
#news dt{color:#ddd;font-size:16px;line-height:20px}
#news dd{color:#fff;line-height:25px;font-size:18px}
form dt{color:#fff;font-size:14px;line-height:25px}
form input{height:30px;width:90%;text-align:center;margin-bottom:10px}
.button input{text-decoration:none;font-weight:bold;text-align:center;font-size:18px;width:100px;height:50px;border:0;color:#fff;display:block;background:#cc175b;margin:10px auto}
#privacy{color:#fff;font-size:14px}
#privacy p{line-height:20px;margin:10px}
#privacy li{list-style-type:decimal;list-style-position:inside;line-height:20px;margin:10px 15px}
#entry{height:200px}
#entry p{margin:30px 10px}
